/* html,
body {
  overflow: hidden;
} */
html,
body {
  background-color: black;

  /* width */
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #151515;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #f1f1ef;
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

.lil-gui {
  --background-color: #000;
}

.loading-bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  transition: transform 0.5s;
  transform: scaleX(0.3) translateY(-50%);
  transform-origin: top left;
  will-change: transform;
}

.loading-bar.ended {
  transition: transform 1.5s ease-in-out;
  transform: scaleX(0) translateY(-50%);
  transform-origin: top right;
}
