/* html,
body {
  overflow: hidden;
} */
html,
body {
  background-color: black;

  /* width */
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #151515;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #f1f1ef;
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

.lil-gui {
  --background-color: #000;
}

.loading-bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  transition: transform 0.5s;
  transform: scaleX(0.3) translateY(-50%);
  transform-origin: top left;
  will-change: transform;
}

.loading-bar.ended {
  transition: transform 1.5s ease-in-out;
  transform: scaleX(0) translateY(-50%);
  transform-origin: top right;
}

.point {
  position: absolute;
  top: 50%;
  left: 50%;
}

.point .label {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #00000077;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 200;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  transform: translate(-50%, -50%) scale(0, 0);
}

.point.visible .label {
  transform: translate(-50%, -50%) scale(1, 1);
}

.point .text {
  position: absolute;
  top: calc(50% + 45px);
  left: calc(50% + 50px);
  transform: translate(-50%, -50%);
  background-color: #00000077;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 200;
  padding: 20px;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.label:hover ~ .text {
  opacity: 1;
  pointer-events: initial;
}
